<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-header-bar class="bar-calm " align-title="left">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="tabs.home">
    </button>
  </div>
  <div class="rj--detail-title">{{chat.Flight_Number}}</div>
</ion-header-bar>
  <ion-content class="padding">
    <p>
      {{chat.Message}}
    </p>
    <br>
    <br>
    <p>
      {{"消息发送时间"}}
      {{chat.SystemTime|date:"HH:mm:ss"}}
    </p>
    <br>
    <br>
    <button class="button button-light rj-detail-button" ng-if="chat.NeedScan" ng-click="ok(-1)">拒绝</button>
    <button class="button button-positive rj-detail-button" ng-if="chat.NeedConfirm" ng-click="ok(1)">确认</button>
  </ion-content>

