<ion-header-bar class="bar-calm" >
 <div class="rj-page-title"> 机位信息</div>
</ion-header-bar>
<ion-content >
  <div class="rj-picture">
    <img ng-src="img/T3A.png">

     <span class="rj-{{bridge.BridgeId}}" ng-repeat="bridge in bridges[0]"   ng-class="{'rj-sm-red-icon':bridge.BridgeState==1,'rj-sm-green-icon':bridge.BridgeState==2,'rj-sm-purple-icon':bridge.BridgeState==3}">{{bridge.BridgeId}}</span>
</div>
<p><a class="zi-red">红色</a>表示故障，<a class="zi-green">绿色</a>表示正在使用，<a class="zi-purple">紫色</a>表示停用</p>
</ion-content>
