<ion-header-bar class="bar-calm" align-title="center">
  <div class="rj-page-title">出港航班</div>
</ion-header-bar>
<ion-content>
    <ion-list>
       <ion-item class="rj-list" type="item-text-wrap">
       <span class="fi-bridge-title">{{"登机桥"}}</span>
       <span class="fi-flight-title">{{"航班号"}}</span>
       <span class="fi-flight-title">{{"飞机号"}}</span>
       <span class="fi-time-title">{{"出港时间"}}</span>
       <span class="fi-state-title">{{"出港状态"}}</span>
       </ion-item>
  </ion-list>
  <ion-scroll style="width: 360px; height:450px">
    <ion-list>
      <ion-item class="rj-list1" ng-repeat="chat in chats" type="item-text-wrap">
        <span class="fi-bridge1">{{chat.Bridge_Code}}</span>
        <span class="fi-flight1">{{chat.Flight_Number}}</span>
        <span class="fi-flight2">{{chat.Aircraft_Number}}</span>
        <span class="fi-time1">{{chat.Estimated_Dep_Time|date:"HH:mm:ss"}}</span>
        <span class="fi-state1">{{chat.Flight_State}}</span>
      </ion-item>
    </ion-list>
</ion-content>
