<ion-header-bar class="bar-calm" align-title="center">
  <div class="rj-page-title">登机桥信息</div>
</ion-header-bar>
<ion-content>
    <ion-list>
      <ion-item class="rj-list" type="item-text-wrap">
        <span class="rj-bridge-title1">{{"登机桥"}}</span>
        <span class="rj-flight-title">{{"航班号"}}</span>
        <span class="rj-da-title">{{"进出港"}}</span>
        <span class="rj-time-title">{{"任务时间"}}</span>
        <span class="rj-state-title">{{"状态"}}</span>
        <span class="rj-state">{{"操作员"}}</span>
      </ion-item>
    </ion-list>
  <ion-scroll style="width: 360px; height:450px">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="rj-list1" ng-repeat="chat in chats" type="item-text-wrap">
        <span class="rj-bridge1">{{chat.Bridge_Code}}</span>
        <span class="rj-flight1">{{chat.Flight_Number}}</span>
        <span class="rj-flight2"ng-if="chat.Land_Off == 'A'" font-size="6px" >进港</span>
        <span class="rj-flight2"ng-if="chat.Land_Off == 'D'" font-size="6px" >出港</span>
        <span class="rj-time1">{{chat.Estimated_Arr_Time|date:"HH:mm:ss"}}</span>
        <span class="rj-state1">{{chat.Flight_State}}</span>
        <span class="rj-state2">{{chat.User_Name}}</span>
      </ion-item>
    </ion-list>
</ion-content>

