<ion-header-bar class="bar-calm " align-title="left">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="tabs.home">
    </button>
  </div>
    <div class="rj-page-title1">信息查询</div>
</ion-header-bar>
<ion-content class="padding">
  <div class="bar bar-header item-input-inset">
    <!--<button class="button icon-left ion-ios-search-strong button-clear button-small" ng-click="search(searchName)">-->
    <!--</button>-->
    <label class="item-input-wrapper">
      <i class="icon  ion-ios-search-strong placeholder-icon"></i>
      <input type="search" placeholder="搜索航班" ng-model="searchName" ng-change="search(searchName)">
    </label>
  </div>
  <ion-list>
    <ion-item class="item-remove-animate rj-list" ng-repeat="chat in chats" type="item-text-wrap">
      <span class="rj-bridge">{{chat.Bridge_Code+"登机桥"}}</span>
      <span class="rj-flight">{{chat.Flight_Number}}</span>
      <span class="rj-time">{{chat.Arr_Time|date:"hh:mm:ss"}}</span>
      <span class="rj-state">{{chat.Flight_State}}</span>
     </ion-item>
  </ion-list>
</ion-content>

